#application
/common/config/main-local.php
/frontend/config/main-local.php
/backend/config/main-local.php

#phpstorm project files
.idea

/vendor
/tests

LemiRestaurant.iml
LICENSE.md
requirements.php
yii
yii.bat
init
init.bat

/frontend/web/css/site.css
/backend/web/css/site.css