html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
li.separator {
  position: relative;
  z-index: -1;
  color: #4D4D4D;
  font-weight: bold;
  font-size: x-large;
}
li.separator a {
  color: #bdde4f !important;
}
footer {
  font-size: small;
}
footer p.pull-right {
  font-size: 1.5em;
}
footer .glyphicon {
  top: -5px !important;
}
table th:first-child {
  display: none;
}
table td:first-child {
  display: none;
}
.navbar-inverse {
  background: linear-gradient(#98c10f, #bdde4f) !important;
  border-color: #98C10F !important;
}
.navbar-inverse .navbar-collapse {
  border-color: #98c10f;
}
.navbar-inverse .navbar-toggle {
  background-color: transparent;
  border-color: #526909;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #98c10f;
  border-color: #526909;
}
.navbar-inverse .navbar-toggle:focus {
  background-color: #98c10f;
  border-color: #526909;
}
.navbar-inverse .navbar-brand {
  color: white !important;
}
.navbar-inverse .navbar-nav li a {
  color: white;
}
.navbar-inverse .navbar-nav li a:hover {
  background-color: #bdde4f;
}
.navbar-inverse .navbar-nav .active a {
  color: white;
  background-color: #98c10f;
}
.navbar-inverse .navbar-nav .active a:hover {
  background-color: #98c10f;
}
.breadcrumb {
  background-color: transparent;
  border: 5px double rgba(189, 222, 79, 0.3);
}
.breadcrumb a {
  color: #be0000;
}
.site-index h1,
.site-login h1,
.categories-index h1,
.dishes-index h1,
.user-index h1,
.emails-index h1,
.auth-item-index h1,
.auth-item-child-index h1,
.auth-assignment-index h1,
.site-index h2,
.site-login h2,
.categories-index h2,
.dishes-index h2,
.user-index h2,
.emails-index h2,
.auth-item-index h2,
.auth-item-child-index h2,
.auth-assignment-index h2 {
  color: #be0000;
}
.site-index .summary,
.site-login .summary,
.categories-index .summary,
.dishes-index .summary,
.user-index .summary,
.emails-index .summary,
.auth-item-index .summary,
.auth-item-child-index .summary,
.auth-assignment-index .summary {
  padding-bottom: 10px;
}
.site-index table a,
.site-login table a,
.categories-index table a,
.dishes-index table a,
.user-index table a,
.emails-index table a,
.auth-item-index table a,
.auth-item-child-index table a,
.auth-assignment-index table a {
  color: #526909;
}
.site-index table a:hover,
.site-login table a:hover,
.categories-index table a:hover,
.dishes-index table a:hover,
.user-index table a:hover,
.emails-index table a:hover,
.auth-item-index table a:hover,
.auth-item-child-index table a:hover,
.auth-assignment-index table a:hover {
  color: #98c10f;
}
.site-index .pagination li span,
.site-login .pagination li span,
.categories-index .pagination li span,
.dishes-index .pagination li span,
.user-index .pagination li span,
.emails-index .pagination li span,
.auth-item-index .pagination li span,
.auth-item-child-index .pagination li span,
.auth-assignment-index .pagination li span,
.site-index .pagination li a,
.site-login .pagination li a,
.categories-index .pagination li a,
.dishes-index .pagination li a,
.user-index .pagination li a,
.emails-index .pagination li a,
.auth-item-index .pagination li a,
.auth-item-child-index .pagination li a,
.auth-assignment-index .pagination li a {
  color: #526909;
}
.site-index .pagination .active a,
.site-login .pagination .active a,
.categories-index .pagination .active a,
.dishes-index .pagination .active a,
.user-index .pagination .active a,
.emails-index .pagination .active a,
.auth-item-index .pagination .active a,
.auth-item-child-index .pagination .active a,
.auth-assignment-index .pagination .active a {
  color: white;
  background-color: #98c10f;
  border-color: #526909;
}
.site-login .btn,
.site-signup .btn {
  color: white;
  background-color: #98c10f;
  border-color: #98c10f;
}
.site-login .btn:hover,
.site-signup .btn:hover,
.site-login .btn:active,
.site-signup .btn:active {
  background-color: #87b000;
}
